.section {
    min-height: 1px;
    background-color: #fff;
    width: 100%;
    padding: 20px;
    margin-bottom: 0;
}

.title {
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;

    color: #492516;
}

.brand {
}

.brands {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 40px;
    gap: 40px;
    justify-content: space-between;
}
