.section {
    min-height: 1px;
    background-color: #fff;
    width: 100%;
    padding: 20px;
    margin-bottom: 0;
}

.container {
    width: min(1200px, 100%);
    margin: 0 auto;
    padding: 0 20px;
}

.title {
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;

    color: #492516;
}

.brand {
}

.brands {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 40px;
    gap: 40px;
    justify-content: space-between;
}

@media (max-width: 760px) {
    .section {
        padding: 16px 0 24px;
    }

    .container {
        padding: 0 16px;
    }

    .title {
        font-size: 24px;
        margin-top: 16px;
    }

    .brands {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 24px;
        gap: 20px;
    }
}
