.section {
    margin: 40px auto;
}

.title {
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    margin-bottom: 40px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: center;
    color: #492516;
}

.list {
    display: flex;
}

.stepNumber {
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: 0.04em;
    font-variant: all-small-caps;
    text-align: center;
    border-bottom: 1px solid #492516;
    width: 32px;
    height: 48px;
    color: #492516;
}

.step {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 33px;
    align-items: center;
}

.stepImage {
    width: 200px;
    height: 200px;
}

.stepTitle {
    font-family: "Playfair Display", sans-serif;
    font-weight: 500;
    font-size: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #1e0802;
}

.stepDescription {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    max-width: 300px;
    margin: 16px auto 0;
    color: #1e0802;
}
