.footer {
    background-color: #1e0802;
    padding: 20px 0;
}

.container {
    width: min(1200px, 100%);
    margin: 0 auto;
    padding: 0 20px;
}

.footer__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.footer__links a {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #f2ede0;
    text-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
}

.footer__links {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.footer__separator {
    width: 100%;
    height: 1px;
    background-color: #f2ede0;
    opacity: 0.2;
}

.footer__bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}

.footer__copyright {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #f2ede0;
}

@media (max-width: 760px) {
    .footer {
        padding: 24px 0;
    }

    .container {
        padding: 0 16px;
    }

    .footer__links {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .footer {
        padding: 16px;
    }

    .footer__links a {
        text-align: left;
    }

    .footer__bottom {
        flex-direction: column;
        gap: 12px;
    }
}
