.section {
    background-image: url("/img/back_form.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    height: 472px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    backdrop-filter: blur(34.20000076293945px);
    background: rgba(30, 8, 2, 0.4);
    height: 232px;
    width: 720px;

    margin: 0 auto;

    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 138%;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    text-align: center;
    color: #f2ede0;
}

.description {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    font-variant: all-small-caps;
    margin: 16px auto 40px;
    text-align: center;
    color: #f2ede0;
}

.form {
    display: flex;
    align-items: center;
    width: 426px;
    margin: 0 auto;
    justify-content: center;
    gap: 16px;
}

.input {
    border: 0.5px solid #fff;
    padding: 8px;
    background: #fff;
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    width: 100%;
    font-size: 12px;
    color: rgba(73, 37, 22, 1);
}

.input::placeholder {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: rgba(73, 37, 22, 0.5);
}

.button {
    padding: 8px 16px;
    width: 110px;
    height: 32px;
    background: #a88747;
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #fff;
}

.icon {
    margin-left: 8px;
}
