.productCard {
    padding: 16px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.2) 0%,
        rgba(255, 255, 255, 0.8) 100%
    );
    border: none;
    outline: 4px solid transparent;
    outline-offset: 0;
    transition:
        background 0.3s ease,
        box-shadow 0.3s ease,
        outline-color 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productCard:hover {
    box-shadow: 0 0 80px 0 rgba(168, 135, 71, 0.1);
    background: rgba(255, 255, 255, 0.6);
    outline-color: rgba(168, 135, 71, 0.6);
}

.productCard__image {
    width: 208px;
    height: 208px;
    margin: 0 auto 16px;
}

.productCard__title {
    font-family: "Playfair Display", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;

    letter-spacing: 0.02em;
    text-align: center !important;
    color: #1e0802;
    margin-bottom: 16px;
    display: block;
}

.productCard__body {
    text-align: center !important;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.productCard__price {
    padding: 2px 8px;
    background: #a88747;
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #fff;
    width: 100%;
}

.productCard__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: auto;
    gap: 8px;
}

.productCard__cartButtons {
    width: 28px;
    height: 28px;
}
