.section {
    background-image: url("/img/back.webp");
    height: 720px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
}

.content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
}

.title {
    font-family: "Playfair Display", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 138%;
    letter-spacing: 0.08em;
    width: 480px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 16px;
    color: #f2ede0;
    text-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
}

.text {
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 480px;
    line-height: 125%;
    font-variant: all-small-caps;
    text-align: center;
    color: #f2ede0;
    text-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
}

.button {
    padding: 12px 24px;
    background: #a88747;
    font-family: "Tenor Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #f2ede0;
    margin-top: 40px;
}

.emptyBlock {
    flex: 1;
}

@media (max-width: 760px) {
    .section {
        height: auto;
        margin: 24px 0;
    }

    .content {
        width: 100%;
        padding: 32px 16px;
    }

    .title {
        width: 100%;
        font-size: 24px;
    }

    .text {
        width: 100%;
        font-size: 14px;
    }

    .button {
        margin-top: 24px;
    }

    .emptyBlock {
        display: none;
    }
}
